<template>
  <header class="header">
    <h1 class="header_title">Добавление товара</h1>
    <select v-model="currentFilter" @change="$emit('filter', currentFilter)" class="header_select">
      <option value="default" selected>По умолчанию</option>
      <option value="title" >По наименованию</option>
      <option value="min" >По цене min</option>
      <option value="max" >По цене max</option>
    </select>
  </header>
</template>

<script>
export default {
  name: "Header",
  data(){
    return{
      currentFilter:'default',
    }
  },
};
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;

}

h1 {
  font-size: max(1em, min(2em, 5.333vw));

}
select {
  background: #fffefb;
  width: 8%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #b4b4b4;
  text-align: center;
}
</style>
