<template>
  <div id="app">
    <Header @filter="filterItem($event)" />
    <div class="content">
      <div class="content_create-block">
        <form  @submit.prevent="createNewElement">
          <div class="form_input">
            <label for="name">Наименование товара</label>
            <input
              v-model="newItemForm.title"
              required
              name="name"
              id="name"
              placeholder="Введите наименование товара"
              type="text"
            />
          </div>
          <div class="form_input">
            <label for="desc">Описание товара</label>
            <textarea
              v-model="newItemForm.desc"
              name="desc"
              id="desc"
              placeholder="Введите описание товара"
              type="text"
            />
          </div>
          <div class="form_input">
            <label for="link">Ссылка на изображение товара</label>
            <input
              v-model="newItemForm.image"
              required
              name="link"
              id="link"
              placeholder="Введите ссылку"
              type="text"
            />
          </div>
          <div class="form_input">
            <label for="price">Цена товара</label>
            <input

              v-model="newItemForm.price"
              required
              name="price"
              id="price"
              placeholder="Введите цену"
              type="number"
            />
          </div>
          {{moneyMaskHolder}}
          <button class="add-btn" :disabled="isDisabled == true" type="submit">Добавить товар</button>
        </form>
      </div>
      <transition-group tag="ol" name="item" class="content_item-list-block">

        <li class="item" v-for="(item,index) in listData" :key="item.id" >
          <button @click="deleteItem(index)"  class="item_delete-btn"><img style="width: 14px" src="./assets/delete.svg"></button>
          <img :src="item.image" alt="Фото товара">
          <h3 class="item_title">{{item.title}}</h3>
          <p class="item_desc">{{item.desc}}</p>
          <p class="item_price">{{item.price}} руб.</p>
        </li>

      </transition-group>
    </div>
    <div class="spinner_bg" v-if="isLoading">
    <img class="spinner-item" src="./assets/spinner.gif" alt="">
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";

export default {
  name: "App",
  components: { Header },
  data() {
    return {


      moneyMaskHolder:'',
      currentFilter:'default',
      newItemForm:{
        image: '',
        title:'',
        desc: '',
        price:'',
      },
      listData: [
        {
          id:1,
          image: "https://ms-23.ru/wp-content/uploads/2020/11/5c539743bdd3b5c539743bdd83.jpg",
          title:'Товар',
          desc: 'Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк',
          price:2000,
        },
        {
          id:2,
          image: "https://ms-23.ru/wp-content/uploads/2020/11/5c539743bdd3b5c539743bdd83.jpg",
          title:'Мяч',
          desc: 'Довольно-таки интересное описание товара в несколько строк. Довольно-таки интересное описание товара в несколько строк',
          price:4000,
        },
        {
          id:3,
          image: "https://ms-23.ru/wp-content/uploads/2020/11/5c539743bdd3b5c539743bdd83.jpg",
          title:'Компьютер',
          desc: 'Описание товара',
          price:1000,
        },
        {
          id:4,
          image: "https://ms-23.ru/wp-content/uploads/2020/11/5c539743bdd3b5c539743bdd83.jpg",
          title:'Мышь',
          desc: 'Описание товара',
          price:10000,
        },
      ],
    };
  },
  computed: {

    isDisabled() {
      if(  this.newItemForm.title.length > 0 && this.newItemForm.price.length > 0 && this.newItemForm.image.length > 0){
        return false
      }
        else {
          return true
        }
      }
    },
  methods: {


    clearForm(){
      this.newItemForm.title =  ''
      this.newItemForm.desc =  ''
      this.newItemForm.image =  ''
      this.newItemForm.price =  ''
    },
    filterItem(filter){
      this.currentFilter = filter
      switch (filter) {
        case 'title':
          this.listData.sort((prev, next) => {
            if ( prev.title < next.title ) return -1;
            if ( prev.title < next.title ) return 1;
          });
          break;
        case 'min':
          this.listData.sort((prev, next) => next.price - prev.price);
          break
        case 'max':
          this.listData.sort((prev, next) => prev.price - next.price);
          break
        case 'default':
          this.listData.sort((prev, next) => prev.id - next.id);
          break

      }
    },
    deleteItem(index){
      this.listData.splice(index,1)
    },
    createNewElement() {
      this.listData.push(
          {
            id:this.listData.length + 1,
            title:this.newItemForm.title,
            desc:this.newItemForm.desc,
            image:this.newItemForm.image,
            price:this.newItemForm.price
          }
      )
      this.clearForm()
      this.filterItem(this.currentFilter)
    },
  },
  mounted() {

  },
};
</script>

<style>
.spinner_bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 31, 31,0.3);
 top: 0;
  left: 0;
}
.spinner-item{
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;


}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: rgba(255, 254, 251, 0.8);
}
#app {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.content{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content_create-block {
  width: 20%;
  height: 50vh;
  background: #fffefb;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding-top: 10px;
}
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 42vh;
  width: 90%;
}
.form_input {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}
input {
  border: 0;
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 12px;
  color: #b4b4b4;
  height: 36px;
  padding: 0.375rem 0.75rem;
}
textarea {
  border: 0;
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 12px;
  color: #b4b4b4;
  height: 108px;
  padding: 0.375rem 0.75rem;
}
.add-btn {
  border: 0;
  outline: 0;
  background: #7bae73;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  height: 36px;
}
.add-btn:hover{
  border: 1px solid #7bae73 ;
  background: #34b61f;
}
.add-btn:disabled {
  border: 0;
  outline: 0;
  background: #B4B4B4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  height: 36px;
}
.content_item-list-block{
  width: 78%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: auto;
  padding-top: 10px;
}
.item{
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 330px;
  background: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  margin: 0 16px 16px 0;
  user-select: none;
  position: relative;
}
.item:hover{
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.item_delete-btn{
  border: 0;
  outline: 0;
  position: absolute;
  margin-left: 94%;
  margin-top:-8px;
  width: 32px;
  background: #FF8484;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: none;
}
.item:hover .item_delete-btn{
  display:block;
}
.item_delete-btn:hover{
  background: #ff3e3e;
  cursor: pointer;
}
.item img{
  width: 100%;
  height: 45%;
  object-fit:cover;

}

.item_title{
  margin: 0 auto;
  height:10%;
  width: 95%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  user-select: none;

  color: #3F3F3F;

}
.item_desc{
  margin: 0 auto;
  width: 95%;
  height:30%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  user-select: none;
}
.item_price{
  margin: 0 auto;
  width: 95%;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  user-select: none;
  color: #3F3F3F;
}
li {
  transition: all 0.7s;
}

.item-leave-active {
  position: absolute;
}

.item-leave-to, .item-enter {
  transform: translateX(500px);
  opacity: 0;
}




</style>
